<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ entry.title }}</title>
</head>
<body>
    <div class="header">
        <h1>{{ entry.title }}</h1>
    </div>
    <div class="container">
        <p><strong>Author:</strong> {{ entry.author }}</p>
        <p><strong>Date:</strong> {{ entry.date }}</p>
        <div>{{ entry.entry | safe }}</div>
        <h2>Comments</h2>
        <div>{{ entry.comments | safe }}</div>
    </div>
</body>
</html>
