<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Journal Homepage</title>
</head>
<body>
    <div class="header">
        <h1>On the Narrow Bridge</h1>
    </div>
    <div class="container">
        <ul>
            {% for index, entry in entries %}
                <li><a href="{{ url_for('show_entry', index=index) }}">{{ entry.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
